{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<h3><span class="glyphicon glyphicon-cog"></span> {% trans  '设置'%}</h3>
   {% crispy form %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
    // If the airdetectordata_unit field changes, capture the new value and make
    // adjustments to the current values of the airdetectordata level fields
    // accordingly.
    $('#id_airdetectordata_unit').change(function(){
        var airdetectordata_low = $('#id_airdetectordata_low').val();
        var airdetectordata_high = $('#id_airdetectordata_high').val();
        var airdetectordata_target_min = $('#id_airdetectordata_target_min').val();
        var airdetectordata_target_max = $('#id_airdetectordata_target_max').val();

        var unit_id = $('#id_airdetectordata_unit').val();

        $('#id_airdetectordata_low').val(convert_airdetectordata_unit(unit_id, airdetectordata_low));
        $('#id_airdetectordata_high').val(convert_airdetectordata_unit(unit_id, airdetectordata_high));
        $('#id_airdetectordata_target_min').val(convert_airdetectordata_unit(unit_id, airdetectordata_target_min));
        $('#id_airdetectordata_target_max').val(convert_airdetectordata_unit(unit_id, airdetectordata_target_max));
    });

    // Convert the given value to mg/dL or mmol/L based on the airdetectordata unit id.
    // Note that id 1 is mg/dL, 2 is mmol/L.
    function convert_airdetectordata_unit(id, value) {
        if (id == 2) {
            var result = Math.round((value / 18.018) * 10) / 10;
        } else {
            var result = Math.round(value * 18.018);
        }

        return result;
    }

} );
</script>
{% endblock %}