{% extends 'bare_base.html' %}

{% block body %}
         <!-- Navigation -->  
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                {% include "snippets/navbar.html" %}      
                {#% include "snippets/sidebar.html" %#}        
            </div><!-- /.container -->
        </nav>
        {% block rootcontainer %}
        <div class="container-fluid">
          <div class="row">
            {% block breadcrumbs %}{% endblock %}
            <div class="col-lg-12">
                {% block content %}{% endblock %}
            </div>
          </div>
        </div><!-- /.container -->
        {% endblock %}	
        {% include "snippets/footer.html" %}
{% endblock body %}
