{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
    <h3><span class="fa fa-plus"></span> Add AirDetectorData</h3>
   {% crispy form %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    $('#id_record_date').datetimepicker({
        pickTime: false
    });

    // Sets the value of the submit_button_type field if the 'Submit & Add
    // Another button is clicked.
    $('#submit-id-submit_and_add').click(function() {
        $('#id_submit_button_type').val('submit_and_add');
    });
});
</script>
{% endblock %}